@{
    ViewData["Title"] = "Railway Library";
}

<div class="mdl-grid">
    <div class="mdl-cell mdl-cell--4-col">
        <div class="demo-card-square mdl-card mdl-shadow--2dp">
            <div class="mdl-card__title mdl-card--expand" id="catalog">
                <h2 class="mdl-card__title-text homeLabel ">Library Catalog</h2>
            </div>
            <div class="mdl-card__supporting-text">
                View and Manage Library Assets.
            </div>
            <div class="mdl-card__actions mdl-card--border">
                <a class="mdl-button mdl-button--colored"
                   asp-controller="Catalog"
                   asp-action="Index">View Catalog</a>
            </div>
        </div>
    </div>
    <div class="mdl-cell mdl-cell--4-col">
        <div class="demo-card-square mdl-card mdl-shadow--2dp">
            <div class="mdl-card__title mdl-card--expand" id="patrons">
                <h2 class="mdl-card__title-text homeLabel ">Patrons</h2>
            </div>
            <div class="mdl-card__supporting-text">
                View and Manage Patron Section.
            </div>
            <div class="mdl-card__actions mdl-card--border">
                <a class="mdl-button mdl-button--colored"
                   asp-controller="Patrons"
                   asp-action="Index">View Patrons Section</a>
            </div>
        </div>
    </div>
    <div class="mdl-cell mdl-cell--4-col">
        <div class="demo-card-square mdl-card mdl-shadow--2dp">
            <div class="mdl-card__title mdl-card--expand" id="branches">
                <h2 class="mdl-card__title-text homeLabel ">Branches</h2>
            </div>
            <div class="mdl-card__supporting-text">
                View and Manage Library Branches.
            </div>
            <div class="mdl-card__actions mdl-card--border">
                <a class="mdl-button mdl-button--colored"
                   asp-controller="Branches"
                   asp-action="Index">View Branches Section</a>
            </div>
        </div>
    </div>
</div>

